{% extends "elo/base.html" %} {% block content %}

<h1>Pairs</h1>

{% if pairs %}
<ul>
  {% for pair in pairs %}
  <li>
    {{ pair.player1.name }} ({{ pair.player1_wins }}) - {{ pair.player2.name }}
    ({{pair.player2_wins }})
    <ul>
      <li>Suggested next to break: {{pair.suggested_break.name}}</li>
      <li>
        <a
          href="{% url 'elo:add' %}?winning_player_id={{pair.player1.id}}&losing_player_id={{pair.player2.id}}&breaking_player_id={{pair.suggested_break.id}}"
          >Add game with these players</a
        >
      </li>
    </ul>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No players, sad times.</p>
{% endif %}

<h1>Players</h1>

{% if players %}
<ul>
  {% for player in players %}
  <li><strong>{{ player.name }}</strong></li>
  {% endfor %}
</ul>
{% else %}
<p>No players, sad times.</p>
{% endif %}

<h1>Frames</h1>

{% if frames %}
<ul>
  {% for frame in frames %}
  <li>{{ frame }}</li>
  {% endfor %}
</ul>
{% else %}
<p>No players, sad times.</p>
{% endif %} {% endblock %}
